@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    @Html.ActionLink("Register New","Register","Account",new { },new { @class="btn btn-success"})
</div>
<!-- <img src="./images/BlossomBrows.png" alt="" srcset=""> -->