@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="d-flex flex-row justify-content-center">

    <div class="col-4 col-md-4 d-flex justify-content-end align-items-center">
        <h4>
            @ViewBag.errorMessage
        </h4>
    </div>
    <div class="col-6 col-md-3 mail-image-div" id="mail-image-div">

    </div>
</div>
